@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.card {
  padding: 20px;
  border: none;
  border-radius: 0;

  :global {
    .ant-card-body {
      padding: 0;
    }
  }

}

.avatar_wrapper {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  @include cover-img();
}

.text_wrapper {
  display: inline-block;
  margin-left: 70px;
}

.user_name {
  color: $gray-color-light;
  font-size: 14px;
}

.summary {
  color: $theme-font-color;
  font-size: 18px;
}

.content {
  color: $gray-color-dark;
  font-size: 14px;
  @include line-wrap(3);
}

.rate {
  :global {
    .ant-rate-star {
      margin-right: 5px;
      color: $gray-color-light;
      cursor: default;
    }
    .ant-rate-star-half .ant-rate-star-first, .ant-rate-star-full .ant-rate-star-second {
      color: $color-5;
      cursor: default;
    }
  }
}

.date {
  margin-left: 10px;
  vertical-align: middle;
  line-height: 30px;
  color: $gray-color;
  font-size: 14px;
  letter-spacing: 1px;
}

.all {
  margin-top: 5px;
  border: none;
  border-radius: 0;
  height: auto;
  background-color: $theme-color-dark;
  color: $white-color;
  opacity: 0;
  font-size: 12px;
  cursor: pointer;
}

.card:hover {
  .all {
    opacity: 1;
  }
}

.helpfulness {
  float: right;
  @include clear-fix();
  :global {
    .ant-btn {
      border: none;
      color: $gray-color-dark;
      &.ant-btn-clicked:after {
        content: '';
      }
    }
  }
}
