/*.label {*/
    /*-fx-font-weight: 300;*/
    /*-fx-font-family: "PingFang SC";*/
    /*-fx-focus-color: transparent;*/
    /*-fx-faint-focus-color: transparent;*/
/*}*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome.ttf');
}
.scroll-pane > .viewport  {
    -fx-background-color: transparent;
}

.scroll-pane {
    /*-fx-background: transparent;*/
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    /*-fx-padding: 0;*/
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

/* The main scrollbar **track** CSS class  */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* Separator */

.separator:horizontal .line {
    -fx-border-color: #dddddd transparent transparent transparent,
    -fx-shadow-highlight-color transparent transparent transparent;
    -fx-border-insets: 0, 1 0 0 0;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
    transparent transparent transparent #dddddd;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}

/* Layout */

/* TextField */

.back-label {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 32px;
    -fx-text-fill: #6ED3D8;
    -fx-cursor: hand;
}

.text-field {
    -fx-background-radius: 3px;
    -fx-background-color: #f9f9f9;
    -fx-border-radius: 3px;
    -fx-border-color: #dddddd;
    -fx-text-fill: #888888;
    -fx-highlight-fill: #6ED3D8;
    -fx-prompt-text-fill: #dddddd;
}

.search-button {
    -fx-background-color: #6ED3D8;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.for-label {
    -fx-font-family: "Avenir";
    -fx-font-size: 14px;
    -fx-text-fill: #dddddd;
}

.keyword-label {
    -fx-font-family: "Avenir";
    -fx-font-size: 16px;
    -fx-text-fill: #888888;
}

.clear-keyword-label {
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-pref-width: 14px;
    -fx-pref-height: 14px;
    -fx-background-radius: 7px;
    -fx-background-color: #eeeeee;
    -fx-font-family: "FontAwesome";
    -fx-font-size: 8px;
    -fx-text-fill: #cccccc;
    -fx-cursor: hand;
}

.word-label {
    -fx-font-family: "Avenir";
    -fx-font-size: 16px;
    -fx-text-fill: #6ED3D8;
}

.title {
    -fx-background-color: #F7FAFA;
    -fx-effect: dropshadow(gaussian, #B4B4B480, 2, 0, 0, 0);
}

.nav-bar {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #B4B4B480, 2, 0, 0, 0);
}

.nav-button .icon-label {
    -fx-font-family: "FontAwesome";
    -fx-cursor: hand;
}

.card {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, #B4B4B480, 2, 0, 0, 0);
}

.card.active {
    -fx-effect: dropshadow(gaussian, #B4B4B480, 15, 0, 0, 0);
}
.card-title {
    -fx-font-family: "Avenir";
    -fx-font-size: 20px;
    -fx-font-weight: 600;
    -fx-text-fill: #808080;
}