@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

.popover {
  font-size: 14px;
  :global {
    .ant-popover-inner {
      max-width: 500px;
    }
  }
  h6 {
    margin-bottom: 5px;
    color: $theme-color-dark;
    font-size: 14px;
  }
  //p {
  //  font-size: 14px;
  //}
  div {
    margin: 5px 0;
  }
}

.icon {
  font-size: 18px;
  color: $color-5;
  cursor: pointer
}