@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.popover {
  font-size: 14px;
  :global {
    .ant-popover-inner {
      max-width: 500px;
    }
  }
  h6 {
    margin-bottom: 5px;
    color: $theme-color-dark;
    font-size: 14px;
  }

  div {
    margin: 5px 0;
  }
  strong {
    font-weight: $font-weight-medium;
  }
  p {
    padding: 3px 0;
  }

  .mjx-char {
    font-size: 16px;
  }
}

.icon {
  font-size: 18px;
  color: $color-5;
  cursor: pointer;
  &:after {
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    background-color: $color-5;
    border-radius: 50%;
    animation-name: ripple;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    -webkit-animation-name: ripple;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
  }
}



@keyframes ripple {
  0% {
    left: 0px;
    top: 0px;
    opacity: 0.7;
    width: 18px;
    height: 18px;
  }
  100% {
    left: -16px;
    top: -16px;
    opacity: 0;
    width: 50px;
    height: 50px;
  }
}