*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

!MRClientModule/src/main/resources/lib/MRComponentModule-1.0-SNAPSHOT.jar
!MRClientModule/target/MRClientModule-1.0-SNAPSHOT-jar-with-dependencies.jar

*.iml