@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

.card {
  background-color: $white-color;
  width: 100%;
  height: 70px;
  padding: 10px;
  border: none;
  border-radius: 0;
  cursor: pointer;

  :global {
    .ant-card-body {
      padding: 0;
    }
  }

  &:hover {
    z-index: 10;
    width: 104%;
    margin: 0 -2%;
    background-color: $theme-color;

    .rank {
      color: $white-color;
    }
  }

}

.rank {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 50px;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  color: $theme-color-dark;
  font-size: 20px;
  font-weight: $font-weight-medium;
}

.photo_wrapper {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  //border-radius: 50%;
  margin-left: 40px;
  overflow: hidden;
}

.photo {
  @include cover-img();
}

.text {
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
  height: 50px;
}

.name {
  height: 34px;
  line-height: 16px;
  color: $theme-font-color-dark;
  font-size: 16px;
  font-weight: $font-weight-medium;
  text-align: left;
  overflow: hidden;
  @include line-wrap(2);
}

.year {
  color: $gray-color;
  font-size: 14px;
  letter-spacing: 1px;
}

.score {
  display: inline-block;
  margin-left: 10px;
  color: $theme-color-dark;
  font-size: 14px;
  line-height: 14px;
  font-weight: $font-weight-medium;
}
