@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.item {
  height: 40px;
  :global {
    .ant-checkbox-inner {
      width: 15px;
      height: 15px;
    }
    .ant-checkbox-wrapper {
      line-height: 40px;
      span:last-child {
        color: $gray-color-dark;
        font-size: 14px;
      }
    }
    .anticon {
      cursor: pointer;
    }
  }
}

.avatar_wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  @include cover-img();
}
