@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";


.item {
  :global {
    .ant-checkbox-inner {
      width: 15px;
      height: 15px;
    }
    .ant-checkbox-wrapper {
      span:last-child {
        color: $gray-color-dark;
        font-size: 14px;
      }
    }
    .anticon {
      cursor: pointer;
    }
  }
}
