@font-face {
  font-family: 'MFYueHei';
  src: url('../fonts/MFYueHei_Noncommercial-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MFYueHei_Noncommercial-Regular.woff') format('woff'),
  url('../fonts/MFYueHei_Noncommercial-Regular.ttf') format('truetype'),
  url('../fonts/MFYueHei_Noncommercial-Regular.svg#MFYueHei_Noncommercial-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Permanent Marker Regular';
  src: url('../fonts/PermanentMarker-webfont.eot');
  src: url('../fonts/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PermanentMarker-webfont.woff') format('woff'),
  url('../fonts/PermanentMarker-webfont.ttf') format('truetype'),
  url('../fonts/PermanentMarker-webfont.svg#permanent_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}