html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  color: $gray-color-dark;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  text-decoration: none;
  list-style: none;
}

body {
  //background-color: $gray-color-white;
}

* {
  position: relative;
  //@include box-sizing(content-box);
}

//h1 {
//  font-size: 40px;
//}

//button {
//  border: 0;
//  outline: none;
//  background-color: transparent;
//  color: $gray-color-ultra-light;
//  cursor: pointer;
//}
//
//input, textarea {
//  font-family: $base-font-family;
//  font-weight: $base-font-weight;
//  color: $gray-color-dark;
//  outline: none;
//  -webkit-appearance: none;
//}

.clear {
  clear: both;
}
