@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.icon_wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: $theme-color-dark;
  overflow: hidden;
}

.icon {
  display: block;
  line-height: 100px;
  color: $white-color;
  font-size: 26px;
}

.title {
  margin-top: 20px;
  color: $theme-font-color;
  font-family: $theme-font-family;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.description {
  margin-top: 10px;
  color: $theme-font-color;
  font-family: $theme-font-family;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}
