@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.recent_search {
  font-size: 14px;
  :global {
    .anticon {
      color: $theme-font-color-dark;
    }
    .ant-tag {
      margin-bottom: 3px;
      border: none;
      background-color: transparent;
      color: $gray-color-dark;
      font-size: 14px;
    }
  }
}

