@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.header {
  height: 80px;
  background-color: $white-color;
}

.title_wrapper {
  padding-top: 10px;

  .icon {
    display: inline-block;
    height: 40px;
  }
}

.title_text {
  display: inline-block;
  margin-left: 16px;
}

.main_title {
  color: $theme-color;
  font-size: 28px;
  font-weight: 100;
}

.sub_title {
  margin-top: -5px;
  color: $gray-color;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.4px;
}

.menu {
  border-bottom: none;
  height: 80px;
  float: right;
  :global {
    .ant-menu-item {
      display: inline-block;
      height: 80px;
      border-bottom: none;
      font-size: 14px;

      a {
        line-height: 78px;
        color: $gray-color-dark;
      }
      &.ant-menu-item-selected a {
        color: $theme-color;
      }

      &.ant-menu-item-selected {
        border-bottom: none;
      }
      &.ant-menu-item-active {
        border-bottom: none;
      }
    }
  }
}

.avatar_item {
  width: 90px;
  //:global {
  //  .ant-dropdown-trigger {
  //    height: 90px;
  //
  //  }
  //}
}

.avatar_wrapper {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 15px 0;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  @include cover-img();
}

.dropdown_menu {
  min-width: 100px;
  :global {
    .ant-dropdown-menu-item {
      color: $gray-color-dark;
      font-size: 16px;
      font-weight: $font-weight-normal;
      &.ant-dropdown-menu-item-disabled {
        color: $theme-font-color;
        cursor: default;
      }
    }
  }
}
