@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.part {
  margin: 60px 0;
}

.title {
  margin-bottom: 20px;
  @include clear-fix();
  h3 {
    float: left;
    color: $gray-color;
    font-size: 18px;
    font-weight: $font-weight-medium;
  }
}

.title_right {
  float: right;
  margin-top: 3px;
  color: $theme-color-dark;
  font-size: 14px;
  :global {
    .anticon {
      margin-left: 6px;
    }
  }
}

.spin {
  margin: 100px 0;
  text-align: center;
}

/* */
.movie_page {
  :global {
    .ant-pagination {
      display: table;
      margin: 0 auto;
    }

    .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next {
      border: none;
      border-radius: 50%;
      a {
        color: $gray-color;
        font-size: 14px;
      }
    }
    .ant-pagination-item-active {
      a {
        color: $white-color;
      }
    }

    .ant-pagination-options {
      input {
        border: none;
        border-radius: 0;
        color: $gray-color-dark;
        font-size: 14px;
      }
    }
  }
}

.page {
  padding-top: 40px;
}

