.root {
    -fx-background-color: #ffffff;

    CHART_COLOR_0: #123456;
    CHART_COLOR_1: #f3622d;
    CHART_COLOR_2: #fba71b;
    CHART_COLOR_3: #57b757;
    CHART_COLOR_4: #41a9c9;
    /*CHART_COLOR_5: #4258c9;*/
    /*CHART_COLOR_6: #9a42c8;*/
    /*CHART_COLOR_7: #c84164;*/
    /*CHART_COLOR_8: #888888;*/
}

.shape-pane {
    /*-fx-background-color: #f9f9f9;*/
}

.lines-pane {
    /*-fx-background-color: #00ccccaa;*/
}

.axis {
    -fx-stroke: #AAAAAA;
}

.y-line {
    -fx-stroke: #DDDDDD;
}

.line {
    -fx-stroke-width: 3px;
    -fx-stroke-line-join: round;
}
.line-0 {
    -fx-stroke: CHART_COLOR_0;
}
.line-1 {
    -fx-stroke: CHART_COLOR_1;
}
.line-2 {
    -fx-stroke: CHART_COLOR_2;
}
.line-3 {
    -fx-stroke: CHART_COLOR_3;
}
.line-4 {
    -fx-stroke: CHART_COLOR_4;
}

.x-label {
    -fx-font-family: "Avenir";
    -fx-font-size: 18px;
    -fx-font-weight: 200;
    -fx-text-fill: #888888;
}