.date-picker {
    -fx-background-color: #dddddd;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.date-picker .text-input {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-family: "PingFang SC";
    -fx-text-fill: #808080;
    -fx-prompt-text-fill: #cccccc;
}

.date-picker .text-input {
    -fx-highlight-fill: #00cccc;
    -fx-highlight-text-fill: #ffffff;
}

.date-picker > .arrow-button {
    -fx-background-color: #ffffff;
    -fx-border-style: hidden;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.date-picker > .arrow-button > .arrow {
    /*-fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";*/
    /*-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;*/
    -fx-background-color: #00cccc;
    /*-fx-background-insets: 1 0 -1 0, 0;*/
    /*-fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; !* 5 5 4 4 *!*/
    /*-fx-scale-shape: true;*/
}

.date-picker-popup {
    -fx-background-color: #dddddd;
    /*-fx-background-insets: 0, 1;*/
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    /*-fx-alignment: CENTER; !* VBox *!*/
    /*-fx-spacing: 0; !* VBox *!*/
    /*-fx-padding: 0.083333em; !* 1 1 1 1 *!*/
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10, 0.0 , 0 , 2 );*/
    -fx-effect: none;
}

.date-picker-popup * {
    -fx-font-family: "PingFang SC";
}

.date-picker-popup > .month-year-pane {
    /*-fx-padding: 0.588883em 0.5em 0.666667em 0.5em; !* 7 6 8 6 *!*/
    -fx-background-color: #00cccc;
    /*-fx-background-color: derive(-fx-box-border,30%), linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));*/
    /*-fx-background-insets: 0 0 0 0, 0 0 1 0;*/
    -fx-background-radius: 2px 2px 0 0;
}

.date-picker-popup > .month-year-pane .label {
    -fx-text-fill: #ffffff;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}
.date-picker-popup > * > .spinner > .button {

    -fx-background-color: transparent;
    /*-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-background-insets: 0, 1, 2;
    -fx-color: transparent;
    -fx-background-radius: 0;

}
.date-picker-popup > * > .spinner > .button:focused {
    /*-fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;*/
    -fx-color: -fx-hover-base;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}
.date-picker-popup > * > .spinner > .button:hover {
    -fx-color: -fx-hover-base;
}
.date-picker-popup > * > .spinner > .button:armed {
    -fx-color: -fx-pressed-base;
}
.date-picker-popup > * > .spinner > .left-button {
    -fx-padding: 0 0.333333em 0 0.25em; /* 0 4 0 3 */
}
.date-picker-popup > * > .spinner > .right-button {
    -fx-padding: 0 0.25em 0 0.333333em; /* 0 3 0 4 */
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #ffffff;
    /*-fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-45%);*/
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 */
    -fx-effect: none;
    /*-fx-effect: dropshadow(two-pass-box , -fx-shadow-highlight-color, 1, 0.0 , 0, 1.4);*/
}
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    /*-fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-50%);*/
    -fx-background-color: #ffffff;
}
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    /*-fx-background-color: -fx-mark-highlight-color, derive(-fx-base,-55%);*/
    -fx-background-color: #ffffff;
}
.date-picker-popup > * > .spinner > .button > .left-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}
.date-picker-popup > .month-year-pane > .secondary-label {
    -fx-alignment: BASELINE_CENTER;
    -fx-padding: 0.5em 0 0 0; /* 6 0 0 0 */
    -fx-text-fill: #00cccc;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: #ffffff;
    /*-fx-background-color: derive(-fx-selection-bar-non-focused, 60%);*/
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}
.date-picker-popup > * > .date-cell {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-padding: 0;
    -fx-alignment: BASELINE_CENTER;
    -fx-opacity: 1.0;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 0.916667em;
    -fx-text-fill: #aaaaaa;
}
.date-picker-popup > * > .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: -fx-control-inner-background;
    -fx-border-width: 1px;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-accent;
}
.date-picker-popup > * > .day-cell {

    /*-fx-pref-width: 20px;*/
    /*-fx-pref-height: 20px;*/

    -fx-padding: 0.583333em 0.583333em 0.583333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: transparent;
    /*-fx-border-color: derive(-fx-selection-bar-non-focused, 60%);*/
    -fx-border-width: 1px;
    -fx-font-size: 1em;
    -fx-background: -fx-control-inner-background;
    /*-fx-background-color: -fx-background;*/
    -fx-background-color: transparent;
    -fx-text-fill: #646464;
}
.date-picker-popup > * > .hijrah-day-cell {
    -fx-alignment: TOP_LEFT;
    -fx-padding: 0.083333em 0.333333em 0.083333em 0.333333em; /* 1 4 1 4 */
    -fx-cell-size: 2.75em;
}
.date-picker-popup > * > .day-cell > .secondary-text {
    -fx-fill: #00cccc;
}
.date-picker-popup > * > .today {
    /*-fx-background-color: -fx-control-inner-background, derive(-fx-selection-bar-non-focused, -20%), -fx-control-inner-background;*/
    /*-fx-background-insets: 1, 2, 3;*/
    -fx-border-color: #00cccc;
    -fx-border-radius: 20px;
}
.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    /*-fx-background: -fx-selection-bar;*/
    -fx-text-fill: #ffffff;
    -fx-background-color: #00cccc;
    -fx-background-radius: 20px;
}
.date-picker-popup > * > .previous-month:hover,
.date-picker-popup > * > .next-month:hover {
    /*-fx-background: -fx-selection-bar-non-focused;*/
    -fx-background-color: #f9f9f9;
    -fx-text-fill: #00cccc;
    /*-fx-background-radius: 20px;*/
}
.date-picker-popup > * > .today:hover,
.date-picker-popup > * > .today.selected {
    -fx-background-color: #00cccc;
    -fx-background-radius: 20px;
    -fx-border-color: transparent;
    /*-fx-background-color: -fx-selection-bar, derive(-fx-selection-bar-non-focused, -20%),-fx-selection-bar;*/
}
.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
    /*-fx-background-color: -fx-control-inner-background, -fx-cell-focus-inner-border, -fx-control-inner-background;*/
    /*-fx-background-insets: 1, 2, 3;*/
}
.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    /*-fx-background-color: -fx-selection-bar, -fx-cell-focus-inner-border, -fx-selection-bar;*/
}
.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    /*-fx-background: derive(-fx-control-inner-background, -4%);*/
    -fx-text-fill: #bbbbbb;
}
.date-picker-popup > * > .day-cell:hover > .secondary-text,
.date-picker-popup > * > .previous-month > .secondary-text,
.date-picker-popup > * > .next-month > .secondary-text,
.date-picker-popup > * > .selected > .secondary-text {
    /*-fx-fill: -fx-text-background-color;*/
}
.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    -fx-border-color: #dddddd;
    -fx-border-radius: 20px;
    /*-fx-background-color: derive(-fx-control-inner-background, -4%), derive(-fx-selection-bar-non-focused, -20%), derive(-fx-control-inner-background, -4%);*/
}

.date-picker-popup > * > .previous-month.today:hover,
.date-picker-popup > * > .next-month.today:hover {
    -fx-background-color: #f9f9f9;
    -fx-border-color: transparent;
    -fx-text-fill: #00cccc;
    /*-fx-background-color: -fx-selection-bar-non-focused, derive(-fx-selection-bar-non-focused, -20%), -fx-selection-bar-non-focused;*/
}