@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";


.part {
  margin: 60px 0;
}

.title {
  margin-bottom: 20px;
  @include clear-fix();
  h3 {
    float: left;
    color: $gray-color;
    font-size: 18px;
    font-weight: $font-weight-medium;
  }
}

.title_right {
  float: right;
  margin-top: 3px;
  color: $theme-color-dark;
  font-size: 14px;
  :global {
    .anticon {
      margin-left: 6px;
    }
  }
}

.spin {
  //margin: 100px 0;
  padding: 200px;
  text-align: center;
}

/* */
.rank {

}

.more {
  display: table;
  margin: 10px auto;
  padding: 3px 10px;
  color: $theme-color;
  font-size: 16px;
  cursor: pointer;
  @include transition(all .3s);
  :global {
    .anticon {
      display: block;
      margin-left: 5px;
    }
  }
  &:hover {
    opacity: 0.7;
  }
}

.more_list {
  margin-top: 20px;
}