/*
 * grid
 */
/*
 * Fonts
 */
/*
 * Colors
 */
html, body, h1, h2, h3, h4, h5, h6, hr, li, ul, p, a, img, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Avenir", "Pingfang SC", "Open Sans", "Lantinghei SC", "Microsoft Yahei Light", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  list-style: none; }

* {
  position: relative; }

.card {
  padding: 10px;
  border: none;
  border-radius: 0;
  cursor: pointer; }
  .card .text h3 {
    color: #6E7979;
    font-size: 18px;
    font-weight: 500; }
  .card :global .ant-card-body {
    padding: 0; }

.card_mini {
  max-width: 240px; }
  .card_mini .img_wrapper {
    height: 200px; }
  .card_mini .text {
    margin-top: 5px; }
    .card_mini .text .title {
      font-size: 15px;
      height: 32px;
      line-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
  .card_mini .score {
    margin-left: 10px;
    font-size: 16px;
    line-height: 16px;
    vertical-align: baseline; }
  .card_mini :global .ant-rate {
    font-size: 17px; }

.card_small {
  max-width: 240px; }
  .card_small .img_wrapper {
    height: 280px; }
  .card_small .text {
    margin-top: 5px; }
  .card_small .title {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }

.card_large {
  max-width: 500px; }
  .card_large .img_wrapper {
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 180px; }
  .card_large .text {
    vertical-align: top;
    margin-left: 130px;
    height: 100%; }
  .card_large .tags {
    margin-top: 5px; }
  .card_large :global .ant-card-body {
    height: 180px; }

.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.rate {
  margin-right: 10px; }
  .rate :global .ant-rate-star {
    margin-right: 5px;
    color: #EEEEEE;
    cursor: default; }
  .rate :global .ant-rate-star-half .ant-rate-star-first, .rate :global .ant-rate-star-full .ant-rate-star-second {
    z-index: 1;
    color: #F8D76E;
    cursor: default; }

.bottom {
  position: absolute;
  bottom: 0; }

.date {
  color: #B3B3B3;
  font-size: 18px;
  letter-spacing: 1px; }

.year {
  color: #B3B3B3;
  font-size: 16px;
  letter-spacing: 1px; }

.score {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  color: #AED7D8;
  font-size: 18px;
  font-weight: 500; }

.count {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #DDDDDD;
  font-size: 16px; }

.tags :global .ant-tag {
  margin-bottom: 10px;
  padding: 2px 10px;
  border: none;
  border-radius: 0;
  height: auto;
  background-color: #EFF6F6;
  color: #AED7D8;
  font-size: 16px;
  cursor: default; }

.triangle {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #AED7D8 transparent transparent transparent; }
  .triangle span {
    position: absolute;
    top: -30px;
    left: 12px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=MovieCard.css.map */
