@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";

.banner {
  width: 100%;
  height: 400px;
}

.bg {
  position: absolute;
  width: 100%;
}
.bg_wrapper {
  width: 100%;
  height: 400px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.5));
}

.bg_img {
  position: absolute;
  @include cover-img();
}

.text {
  position: absolute;
  bottom: 70px;
  width: 100%;
}
.date {
  color: $white-color;
  font-size: 18px;
  font-weight: $font-weight-normal;
  letter-spacing: 1px;
}


.banner h1 {
  color: $white-color;
  font-size: 48px;
  font-weight: $font-weight-medium;
}

.alias {
  color: $white-color;
  font-size: 16px;
  font-weight: $font-weight-normal;
}

.genre_tags {
  margin-top: 10px;
  :global {
    .ant-tag {
      padding: 2px 10px;
      border: none;
      border-radius: 0;
      height: auto;
      background-color: $theme-color-dark;
      color: $white-color;
      font-size: 16px;
    }
  }
}
