@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.data_wrapper {
  position: absolute;
  width: 100%;
  height: 400px;
  >span {
    position: absolute;
    display: inline-block;
    font-size: 18px;
    color: $theme-color-dark;
    @include transform(translate(-50%,-50%))
  }
}
.description {
  font-size: 18px;
  color: $theme-color-dark;
}

.box_office {
  //font-size: 20px;
  left: 50%;
  top: 5%;
}

.score_fr {
  left: 30%;
  top: 45%;
}

.score_cn {
  right: 27%;
  top: 45%;
}

.votes_fr {
  left: 37%;
  top: 90%;
}

.votes_cn {
  right: 30%;
  top: 90%;
}