@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.card {
  padding: 10px;
  border: none;
  border-radius: 0;
  .text {
    h3 {
      color: $theme-font-color-dark;
      font-size: 18px;
      font-weight: $font-weight-medium;
    }
  }
  :global {
    .ant-card-body {
      padding: 0;
    }
  }

}

.card_small {
  max-width: 240px;
  .img_wrapper {
    height: 280px;
  }

  .text {
    margin-top: 5px;
  }
}

.card_large {
  max-width: 500px;
  .img_wrapper {
    display: inline-block;
    width: 120px;
    height: 180px;
  }
  .text {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    height: 100%;
  }
  .tags {
    margin-top: 5px;
  }
  :global {
    .ant-card-body {
      height: 180px;
    }
  }
}

.img {
  @include cover-img();
}

.rate {
  :global {
    .ant-rate-star {
      margin-right: 5px;
      color: $gray-color-light;
      cursor: default;
    }
    .ant-rate-star-half .ant-rate-star-first, .ant-rate-star-full .ant-rate-star-second {
      color: $color-5;
      cursor: default;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 0;
}

.date {
  color: $gray-color;
  font-size: 18px;
  letter-spacing: 1px;
}

.score {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 30px;
  color: $theme-color-dark;
  font-size: 18px;
  font-weight: $font-weight-medium;
}

.count {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 30px;
  color: $gray-color-light;
  font-size: 16px;
}

.tags {
  :global {
    .ant-tag {
      padding: 2px 10px;
      border: none;
      border-radius: 0;
      height: auto;
      background-color: $theme-color-light;
      color: $theme-color-dark;
      font-size: 16px;
      cursor: default;
    }
  }
}
