@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.top {
  width: 100%;
  height: 70px;
  background-color: $theme-color;
  span {
    line-height: 70px;
    color: $white-color;
    font-size: 16px;
    font-weight: $font-weight-medium;

    i {
      margin-right: 12px;
    }
  }
}

.main {
  width: 100%;
  height: 500px;
  padding: 50px 0;
  background-color: $theme-color-white;
}

.poster_wrapper {
  width: 280px;
  height: 400px;
}

.poster {
  @include cover-img();
}

.col_2 {
  height: 400px;
}

.info_item {
  margin-bottom: 30px;
  > span {

    vertical-align: top;
    &:first-child {
      color: $gray-color-dark;
      font-size: 14px;
      font-weight: $font-weight-medium;
    }
    &:last-child {
      color: $theme-font-color;
      font-size: 16px;
      font-weight: $font-weight-normal;
    }
  }
  &.horizontal {
    > span {
      display: inline-block;
      &:first-child {
        width: 30%;
      }
      &:last-child {
        width: 70%;
      }
    }
  }
  &.vertical {
    > span {
      display: block;
      &:first-child {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

}

.buttons {
  position: absolute;
  width: 100%;
  bottom: 0;

  > div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .button_small {
    width: 100%;
  }
  .button_large {
    width: 100%;
  }
  :global {
    .ant-btn {
      height: 40px;
      border-radius: 0;
      font-size: 14px;
      &.ant-btn-primary {
        background-color: $theme-color-dark;
        border-color: $theme-color-dark;
        &:hover {
          opacity: 0.8;
        }
      }
      &.ant-btn-background-ghost {
        color: $theme-color-dark;
        border-color: $theme-color-dark;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .status {
    color: $theme-color-dark;
    font-size: 16px;
    font-weight: $font-weight-medium;
    :global {
      .anticon {
        margin-right: 10px;
      }
    }
  }
  .remove {
    border-radius: 0;

  }
}

.rate {
  display: inline-block;
  :global {
    .ant-rate-star {
      margin-right: 5px;
      color: $gray-color-light;
      cursor: default;
    }
    .ant-rate-star-half .ant-rate-star-first, .ant-rate-star-full .ant-rate-star-second {
      color: $color-5;
      cursor: default;
    }
  }
}

.score {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 30px;
  color: $theme-color-dark;
  font-size: 18px;
  font-weight: $font-weight-medium;
}

.count {
  display: block;
  vertical-align: middle;
  line-height: 30px;
  color: $gray-color;
  font-size: 14px;
}

.tags {
  :global {
    .ant-tag {
      margin-bottom: 10px;
      padding: 2px 10px;
      border-radius: 0;
      height: auto;
      background-color: transparent;
      border-color: $theme-color-dark;
      color: $theme-color-dark;
      font-size: 16px;
      cursor: default;
    }
  }
}
