/*
 * grid
 */
/*
 * Fonts
 */
/*
 * Colors
 */
.part {
  margin: 60px 0; }

.title {
  margin-bottom: 20px; }
  .title:after {
    content: '';
    display: block;
    clear: both; }
  .title h3 {
    float: left;
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 500; }

.title_right {
  float: right;
  margin-top: 3px;
  color: #AED7D8;
  font-size: 14px; }
  .title_right :global .anticon {
    margin-left: 6px; }

.spin {
  margin: 100px 0;
  text-align: center; }

/* */
.movie_sort {
  margin-top: 20px; }

.recent_search, .search_status {
  width: 80%;
  margin: 40px auto; }

.search_status {
  display: flex;
  justify-content: center; }

.status {
  margin: 0 50px;
  color: #B3B3B3;
  font-size: 16px;
  font-weight: 400; }
  .status.status_active {
    color: #AED7D8; }

.discover_page, .category_page, .search_page {
  min-height: 500px; }
  .discover_page :global .ant-pagination, .category_page :global .ant-pagination, .search_page :global .ant-pagination {
    display: table;
    margin: 0 auto; }
  .discover_page :global .ant-pagination-item, .discover_page :global .ant-pagination-prev, .discover_page :global .ant-pagination-next, .category_page :global .ant-pagination-item, .category_page :global .ant-pagination-prev, .category_page :global .ant-pagination-next, .search_page :global .ant-pagination-item, .search_page :global .ant-pagination-prev, .search_page :global .ant-pagination-next {
    border: none;
    border-radius: 50%; }
    .discover_page :global .ant-pagination-item a, .discover_page :global .ant-pagination-prev a, .discover_page :global .ant-pagination-next a, .category_page :global .ant-pagination-item a, .category_page :global .ant-pagination-prev a, .category_page :global .ant-pagination-next a, .search_page :global .ant-pagination-item a, .search_page :global .ant-pagination-prev a, .search_page :global .ant-pagination-next a {
      color: #B3B3B3;
      font-size: 14px; }
  .discover_page :global .ant-pagination-item-active a, .category_page :global .ant-pagination-item-active a, .search_page :global .ant-pagination-item-active a {
    color: #FFF; }
  .discover_page :global .ant-pagination-options input, .category_page :global .ant-pagination-options input, .search_page :global .ant-pagination-options input {
    border: none;
    border-radius: 0;
    color: #808080;
    font-size: 14px; }

.review_wrapper :global .ant-pagination {
  display: table;
  margin: 0 auto; }
.review_wrapper :global .ant-pagination-item, .review_wrapper :global .ant-pagination-prev, .review_wrapper :global .ant-pagination-next {
  border: none;
  border-radius: 50%; }
  .review_wrapper :global .ant-pagination-item a, .review_wrapper :global .ant-pagination-prev a, .review_wrapper :global .ant-pagination-next a {
    color: #B3B3B3;
    font-size: 14px; }
.review_wrapper :global .ant-pagination-item-active a {
  color: #FFF; }
.review_wrapper :global .ant-pagination-options input {
  border: none;
  border-radius: 0;
  color: #808080;
  background-color: #F9F9F9;
  font-size: 14px; }

.page {
  padding-top: 40px; }

/* Movie */
.storyline {
  margin: 20px 0;
  color: #808080;
  font-size: 14px; }

/*# sourceMappingURL=MoviePage.css.map */
