@import "../../assets/scss/mixin";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.part {
  margin: 60px 0;
}

.title {
  margin-bottom: 20px;
  color: $gray-color;
  font-size: 18px;
  font-weight: $font-weight-medium;
}
